{% extends "admin_navbar.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block title2 %}{{ page_title }}{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h2>{{ page_title }}</h2>
    <hr>
<form method="POST" class="mx-auto" action="{{url_for('create_show', venue_id=venue.id)}}" style="max-width: 400px;">
    <div class="form-group">
      <label for="show_name">Show name</label>
      <input type="text" class="form-control form-control-sm" id="show_name" name="show_name" required>
    </div>
    <div class="form-group">
      <label for="show_date">Show date</label>
      <input type="date" class="form-control form-control-sm" id="show_date" name="show_date" required>
    </div>
    <div class="form-group">
      <label for="show_time">Show time</label>
      <input type="time" class="form-control form-control-sm" id="show_time" name="show_time" required>
    </div>
    <div class="form-group">
      <label for="show_price">Show price</label>
      <input type="number" class="form-control form-control-sm" id="show_price" name="show_price" required>
    </div>
    <div class="form-group">
      <label for="show_tags">Show tags</label>
      <input type="text" class="form-control form-control-sm" id="show_tags" name="show_tags" required>
    </div>
    <div class="form-group">
      <label for="show_capacity">Show capacity</label>
      <input type="number" class="form-control form-control-sm" id="show_capacity" name="show_capacity" required>
    <div class="form-group">
      <label for="venue_name">Venue name</label>
      <input type="text" class="form-control form-control-sm" id="venue_name" name="venue_name" value="{{ venue.venue_name }}" readonly>
    </div>
   
    <button type="submit" class="btn btn-primary btn-block">Create</button>
  </form>
</div>
{% endblock %}
{% block style %}

<style>
    h1 {
        text-align: center;
    }
</style>
{% endblock %}
  