{% extends "admin_navbar.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block title2 %}{{ page_title }}{% endblock %}

{% block content %}

  <div class="container mt-3">
    <h2>{{ page_title }}</h2>
    <hr>
<form method="POST" class="mx-auto" action="{{url_for('edit_venue', venue_id=venue.id)}}" style="max-width: 400px;">
    <div class="form-group">
      <label for="venue_name">Venue name</label>
      <input type="text" class="form-control form-control-sm" id="venue_name" name="venue_name" value="{{ venue.venue_name }}" required>
    </div>
    <div class="form-group">
      <label for="venue_description">Venue description</label>
      <textarea class="form-control form-control-sm" id="venue_description" name="venue_description" rows="3" required>{{ venue.venue_description }}</textarea>
    </div>
    <div class="form-group">
      <label for="venue_location">Venue location</label>
      <input type="text" class="form-control form-control-sm" id="venue_location" name="venue_location" value="{{ venue.venue_location }}" required>
    </div>
    <div class="form-group">
      <label for="venue_capacity">Venue capacity</label>
      <input type="number" class="form-control form-control-sm" id="venue_capacity" name="venue_capacity" value="{{ venue.venue_capacity }}" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Update</button>
  </form>
</div>
{% endblock %}
{% block style %}

<style>
    h1 {
        text-align: center;
    }
</style>
{% endblock %}


  