<!-- write code for adding a navbar using bootstap where the titile is in the left and two buttons: summary and logout on the far right-->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">{% block title2 %}{% endblock %}</a>
        <!-- do not show navbar if page title is My Movie Manager-->
        {% if page_title != 'My Movie Manager' %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}

        {% if page_title != 'My Movie Manager' %}        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for("user_dashboard")}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for("search")}}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for("bookings")}}">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
            </ul>
        </div>
        {% endif %}
        
    </div>
</nav>
<!-- display flashed messages here that auto dissapers-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    {% block content %}
    {% endblock %}

</body>
{% block style %}
{% endblock %}



</html>
